.sidebar {
  width: 250px;
  height: 100vh;
  background-color: var(--background-light);
  border-right: 1px solid var(--border-color);
  padding: 1rem;
  position: fixed;
  left: 0;
  top: 0;
}

.sidebar.closed {
  width: 72px;
}

.sidebar-overlay.open{
  background-color: transparent;
  width: 100%;
  height: 100vh;
  position: fixed;
}

.sidebar-overlay.closed {
  display: none;
}

.sidebar-header {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  justify-content: space-between;
}

.sidebar-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.2s ease, transform 0.1s ease;
  border: none;
  background: none;
  position: relative;
}

.sidebar-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.sidebar-header h2 {
  color: var(--text-primary);
  font-size: 1.5rem;
  margin: 0;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.75rem 1rem;
  color: var(--text-secondary);
  text-decoration: none;
  border-radius: 8px;
  transition: all 0.2s ease;
}

.nav-item svg {
  fill: currentColor;
}

.nav-item:hover {
  background-color: rgba(0, 0, 0, 0.05);
  color: var(--text-primary);
}

.nav-item.active {
  background-color: var(--primary-color);
  color: white;
}

.main-content {
  margin-left: 75px;
  min-height: 100vh;
  background-color: var(--background-main);
}

.sidebar.closed .nav-item {
  display: none;
}

.sidebar.closed .sidebar-header h2 {
  display: none;
}
