.confirm-modal {
  background-color: var(--background-light);
  border-radius: 8px;
  padding: 2rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 400px;
  max-width: 600px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  border: 2px solid var(--border-color);
  z-index: 1002;
}

.confirm-modal-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.confirm-modal-header {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.confirm-modal-header h2 {
  margin: 0;
  color: var(--text-primary);
  font-size: 1.5rem;}

.confirm-modal-icon{
  height: 1.5rem;
}

.confirm-modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 0.75rem;
  margin-top: 1.5rem;
}

.confirm-modal-close {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--text-secondary);
  transform: translateX(15px) translateY(-20px);
}

.confirm-modal-close:hover {
  color: var(--text-primary);
}

.confirm-modal-content {
  width: 100%;
}
